
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="tblContainer">
    @{
        Html.RenderAction("ProductTable");
       // Html.RenderAction("Create");
    }
</div>
<br />
<div id="actionContainer">

</div>