@model ClothOnlineShopping.Entities1.Category

<h2>Delete</h2>
<h2>Are you  Sure want To delete</h2>
<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
   
    <button>Delete</button>
</form>
<a href="/Index">Cancel</a>
